<footer id="footer" class="page-footer default_color scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Citation aléatoire : </h5>
                <blockquote class="grey-text text-lighten-4" id="citation">
                    <div class="rq-quote">Avant de vouloir qu’un logiciel soit réutilisable, il faudrait d’abord qu’il
                        ait été utilisable.</div>
                    <div class="rq-author"> —  Ralph Johnson</div>
                </blockquote>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Me suivre :</h5>

                <a class="waves-effect waves-light social-icon github btn" href="https://www.linkedin.com/in/ga%C3%ABtan-boyron-webdesigner/"
                    target="blank">
                    <i class="fa fa-linkedin white-text"></i>
                </a>

                <a class="waves-effect waves-light social-icon github btn" href="https://github.com/LeCuistotduWeb"
                    target="blank">
                    <i class="fa fa-github white-text"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
            <a class="white-text" href="{{ 'privacy' | relative_url }}">Politique de confidentialité</a> -
            <a class="white-text" href="{{ 'terms' | relative_url }}">Mentions légales</a>
        </div>
    </div>
</footer>