<!--Navigation-->
<div class="container-fluid">
    <ul id="mobile-menu" class="side-nav">
        <li class="sidenav-close items"><a href="#about" class="">À propos</a></li>
        <li class="sidenav-close items"><a href="#work" class="">Réalisations</a></li>
        <li class="sidenav-close items"><a href="#skill" class="">Services</a></li>
        <li class="sidenav-close items"><a href="#contact" class="">Contact</a></li>
        <li class="sidenav-close items">
            <ul class="list-btn-social">
                <li>
                    <a class="waves-effect waves-light social-icon github btn" href="https://www.linkedin.com/in/ga%C3%ABtan-boyron-webdesigner/"
                        target="blank">
                        <i class="fa fa-linkedin white-text"></i>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light social-icon github btn" href="https://github.com/LeCuistotduWeb"
                        target="blank">
                        <i class="fa fa-github white-text"></i>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light social-icon github btn" href="https://www.facebook.com/LeCuistotDuWeb/"
                        target="blank">
                        <i class="fa fa-facebook white-text"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="navbar-fixed">
        <nav id="nav_f" class="">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ site.url }}" id="logo-container" class="brand-logo valign-wrapper left">
                        <img src="{{ 'assets/images/logo/lecuistotduweb-logo-white.png' | relative_url }}" alt="logo le cuistot du web">
                    </a>
                    <a href="#" data-target="mobile-menu" class="button-collapse sidenav-trigger right">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li class="sidenav-close"><a href="{{ site.url }}#about" class="white-text">À propos</a></li>
                        <li class="sidenav-close"><a href="{{ site.url }}#work" class="white-text">Réalisations</a></li>
                        <li class="sidenav-close"><a href="{{ site.url }}#skill" class="white-text">Services</a></li>
                        <li class="sidenav-close"><a href="{{ site.url }}#contact" class="white-text">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--Navigation-->