<!--Navigation-->
<div class="container-fluid">
    <ul id="mobile-menu" class="side-nav">
        <li class="sidenav-close"><a href="{{ '/' | relative_url }}" id="logo-container" class="brand-logo-mobile"><img
                    src="{{ 'assets/images/logo/lecuistotduweb-logo-white.png' | relative_url }}" alt="logo le cuistot du web"></a></li>
        <li class="sidenav-close"><a href="{{ '/#about' | relative_url }}" class="white-text">À propos</a></li>
        <li class="sidenav-close"><a href="{{ '/#work' | relative_url }}" class="white-text">Réalisations</a></li>
        <li class="sidenav-close"><a href="{{ '/#skill' | relative_url }}" class="white-text">Services</a></li>
        <li class="sidenav-close"><a href="{{ '/#contact' | relative_url }}" class="white-text">Contact</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav id="nav_f" class="">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ '/' | relative_url }}" id="logo-container" class="brand-logo valign-wrapper left"><img
                            src="/assets/images/logo/lecuistotduweb-logo-white.png" alt="logo le cuistot du web"></a>
                    <a href="#" data-target="mobile-menu" class="button-collapse sidenav-trigger right"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li class="sidenav-close"><a href="{{ '#about' | relative_url }}" class="white-text">À propos</a></li>
                        <li class="sidenav-close"><a href="{{ '/#work' | relative_url }}" class="white-text">Réalisations</a></li>
                        <li class="sidenav-close"><a href="{{ '#skill' | relative_url }}" class="white-text">Services</a></li>
                        <li class="sidenav-close"><a href="{{ '#contact' | relative_url }}" class="white-text">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--Navigation-->