<div class="work card hoverable project">
    <a href="{{ work.url | relative_url }}" class="">
        <div class="card-image waves-effect waves-block waves-light">
            {% if work.image %}
            <img src="{{ work.image | relative_url }}" class="activator responsive-img" alt="{{ work.image-alt }}">
            {% else %}
            <img src="https://via.placeholder.com/1280x720" class="activator responsive-img" alt="{{ work.image-alt }}">
            {% endif %}
        </div>
    </a>
</div>

{% include work-modal.html %}